<p class="small">
Once you submit your request, we get to work right away to find the best therapist to match your preferences. 
Please note, it can take up to an hour to get back to you based on the kind of therapist you need and what is available.
</p>
<div class="under"></div>
<p>
<%= simple_form_for @booking, :url => bookings_path, :remote => true do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :therapist, :collection => ["Male", "Female", "No Preference"], :as => :radio %>
  <%= f.input :details, :as => :text, :hint => "Describe the type of massage you're looking for, and/or the reason you need a massage (stiffness, soreness, injury, ect.)" %>
  <%= f.submit "Send" %>
<% end %>
</p>
<div class="under"></div>