<div class="banner clearfix">
  <figure>
    <%= image_tag "photos/intro_massage.jpg" %>
  </figure>
  <div class="col">
  <article class="pad-bot">
    <p>
      <strong class="title">Massage My Way</strong> was created to give people access to on site and on demand massage therapy keeping in mind these key elements -  providing the highest quality massage and keeping it affordable.
    </p>
    <p>
      Choose from a variety of massage modalities to address your specific needs or request your own.
    </p>
  </article>
  <div class="align-right">
    <%= link_to "Book Online Now", new_booking_path, :class => "button big", :rel =>"modal" %>
  <div class="pad-top"><em>or call</em> <span class="large">(310) 309-7814</span></div>
  </div>
  </div>
</div>
<div id="welcome">
  <h2>
  <span>Massage My Way</span> mobile massage services
  <br>
  The massage that comes to you
  </h2>
  <div class="under">
  </div>
  <figure>
    <img src="/images/page1_img1.jpg" alt="">
  </figure>
</div>

<div class="layout seven-five clearfix">
  <div class="col first">
    <figure class="border">
      <span class="photo">
      <%= image_tag "photos/home1.jpg" %>
      <span class="overlay overlay-tall">
      </span>
    </figure>
    <div class="entry">
      <h3>Quality Therapists</h3>
      <p>
        We only employ the best and brightest
        therapists in the trade and provide
        ongoing training to make sure they stay
        at the top of the field.
      </p> 
      <%= link_to "View our Services »", services_path %>
    </div>
  </div>
  <div class="col second">
    <figure class="border">
      <span class="photo">
      <%= image_tag "photos/home2.jpg" %>
      <span class="overlay overlay-tall">
      </span>
    </figure>
    <div class="entry">
      <h3>Affordable</h3>
      <p>
        Take advantage of our low price
        offerings or choose from one of
        our package deals.
      </p>
      <%= link_to "View Pricing & Packages »", booking_path %>
    </div>
  </div>
</div>
